<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<context:annotation-config></context:annotation-config>

	<context:component-scan
		base-package="com.ntt.infra.model" />
	<context:component-scan
		base-package="com.ntt.infra.controller" />
	<context:component-scan
		base-package="com.ntt.infra.repository" />
	<context:component-scan
		base-package="com.ntt.infra.service" />
	<context:component-scan
		base-package="com.ntt.infra.dto" />
	<context:component-scan
		base-package="com.ntt.infra.config" />



	<mvc:annotation-driven />
<!-- 
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
 -->	
		<!-- JSON Support -->
	<bean name="viewResolver"
		class="org.springframework.web.servlet.view.BeanNameViewResolver" />
	<bean name="jsonTemplate"
		class="org.springframework.web.servlet.view.json.MappingJackson2JsonView" />

</beans>
